<!-- Validation failure messages -->
<% if @follow.errors.any? %>
  <% @follow.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Follow #<%= @follow.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_follow/<%= @follow.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for participants -->
      <div class="form-group">
        <label for="participants" class="control-label">
          Participants
        </label>

        <%= select_tag(:participants, options_from_collection_for_select(User.all, :id, :email, @follow.participants), :class => "form-control") %>
      </div>

      <!-- Label and input for bet -->
      <div class="form-group">
        <label for="bet" class="control-label">
          Bet
        </label>

        <%= select_tag(:bet, options_from_collection_for_select(Bet.all, :id, :name, @follow.bet), :class => "form-control") %>
      </div>

      <!-- Label and input for choice -->
      <div class="form-group">
        <label for="choice" class="control-label">
          Choice
        </label>

        <%= select_tag(:choice, options_from_collection_for_select(Choice.all, :id, :scenario, @follow.choice), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Follow
      </button>
      or
      <a href="/follows/<%= @follow.id %>">Cancel</a>
    </form>
  </div>
</div>
